<div class="grater grater-container">
  <div>
    <p>Coins makes it easy to see the value of your bitcoins. The exchange rate from bitcoin to 154 currencies is updated automatically every minute so you always know how much your bitcoins are worth.</p>
    <p>Coins is a universal app and works on iPhone, iPod touch, iPad, and Android.</p>
    <p>Simply the value of your wallet, at a glance.</p>
    <p class="disclaimer">Exchange rates provided by <a href="http://coinbase.com" rel="external nofollow">Coinbase</a>.</p>
    <p class="app-store">
      <a href="/download/ios" class="app-store" rel="external nofollow">
        <img src="/assets/app-store.svg" alt="Download on the App Store">
      </a>
      <a href="/download/android" class="app-store" rel="external nofollow">
        <img src="/assets/google-play.svg" alt="Get it on Google Play">
      </a>
    </p>
  </div>
  <div>
    <div class="iphone">
      <div id="screenshots">
        <img alt="Shares Screenshot" src="/assets/screenshot01.png" srcset="/assets/screenshot01@2x.png 2x" width="320" heigh="568">
        <img alt="Shares Screenshot" src="/assets/screenshot02.png" srcset="/assets/screenshot02@2x.png 2x" width="320" heigh="568">
        <img alt="Shares Screenshot" src="/assets/screenshot03.png" srcset="/assets/screenshot03@2x.png 2x" width="320" heigh="568">
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/assets/home.js"></script>
<% end %>
