<div class="grater-container">
  <h3>Press</h3>

  <p>For press inquiries, please contact <a href="mailto:press@nothingmagical.com?subject=Coins Press Inquiry">press@nothingmagical.com</a>.</p>

  <p>Want to review Coins and need a promo code? Just ask! <a href="mailto:press@nothingmagical.com?subject=I'd like to review Coins!">Send us an email</a> and we'll be glad to send one your way.</p>

  <h4>Press Kit</h4>
  <p>The Coins press kit includes Coins app icon, iPhone screenshots, iPad screenshots, and Nothing Magical logo.</p>

  <p><strong><a href="https://nothingmagical.s3.amazonaws.com/Coins%20Press%20Kit.zip" rel="external nofllow">Download Press Kit</a></strong>
</div>
