<div class="grater-container">
  <h3>Support</h3>

  <h4>How do I change the number of bitcoins?</h4>
  <p>Simply tap the number of bitcoins to change them.</p>

  <h4>How do I change the currency?</h4>
  <p>Simply tap the price to change the currency.</p>

  <h4>How do I refresh the conversion?</h4>
  <p>Simply tap the last updated time at the bottom. If you don't see the last updated time, just tap anywhere in the background to toggle it on.</p>

  <h4>Where does the conversion data come from?</h4>
  <p>All of the data comes from the lovely folks at <a href="http://coinbase.com" rel="external nofollow">Coinbase</a>.</p>

  <h4>My question wasn't answered. Help!</h4>
  <p>Just <a href="mailto:support@nothingmagical.com">email us</a> and we'll get you taken care of!</p>
</div>
