$avenir-light: 'Avenir LT W01 35 Light', 'HelveticaNeue-Light', Helvetica, sans-serif;
$avenir-medium: 'Avenir LT W01 65 Medium', 'HelveticaNeue', Helvetica, sans-serif;
$avenir-heavy: 'Avenir LT W01 85 Heavy', 'HelveticaNeue-Bold', Helvetica, sans-serif;

$dark-text-color: #777;
$light-text-color: #c3c3c3;
$link-color: #4d3f9b;
$highligh-color: #fdffb6;

$width: 640px;
